<div class="container">
    <section class="importance-section">
        <h2>Faça a diferença em sua comunidade</h2>
        <p>A doação de frutas é uma prática valiosa que apoia comunidades e promove a sustentabilidade. Frutas que não são vendidas devido ao seu tamanho, formato ou aparência ainda são nutritivas e podem fazer uma grande diferença. Aqui estão algumas razões pelas quais a doação de frutas é tão importante:</p>
        <ul>
            <li><strong>Combate o desperdício de alimentos:</strong> Muitas frutas são descartadas simplesmente por não atenderem aos padrões estéticos do mercado, mas doá-las ajuda a reduzir o desperdício de alimentos.</li>
            <li><strong>Alimenta quem precisa:</strong> As frutas doadas podem fornecer nutrição essencial para pessoas em situação de vulnerabilidade, incluindo famílias carentes e instituições de caridade.</li>
            <li><strong>Encoraja práticas agrícolas responsáveis:</strong> A doação é um incentivo para que os agricultores adotem métodos de produção mais sustentáveis e conscientes.</li>
            <li><strong>Fortalece a comunidade:</strong> Doar frutas promove um espírito de generosidade e solidariedade, criando laços mais fortes na comunidade.</li>
        </ul>
    </section>

    <section class="call-to-action">
        <h2>Se você é proprietário de sítio, possui árvores frutíferas e deseja doar o excedente faça seu cadastro</h2>
        <p>Você pode ajudar doando frutas ou apoiando iniciativas que distribuem frutas não comercializáveis para quem precisa. Participe desta causa e ajude a construir um futuro mais sustentável e inclusivo.</p>
    </section>
</div>
